body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding-top: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}



header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
}

header section img.logo {
    height: 12rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

header section a img.avatar {
    width: 7rem;
    height: 95%;
    border-radius: 50%;
    border: 3px, solid, black;
}

header section a img:hover {
    opacity: 0.5;
}


header section div a img.icone {
    width: 6rem;
    height: 6rem;
    display: block;
}

header section div i.fleche {
    font-size: 2rem;
    margin-left: 2.1rem;
}

header section div i.fleche:hover {
    opacity: 0.5;
}

header section form {
    margin-left: 4rem;
    margin-top: 2rem;
}

header section form input {
    width: 20rem;
    height: 1.3rem;
}



header section form a i.loupe {
    font-size: 1rem;
    color: black;
}

header section form a i.loupe:hover {
    opacity: 0.5;
}

header nav {
    box-shadow: 0px 16px 19px -4px #000000;
    background-color: white;
    padding-bottom: 1.3rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0;
    padding-right: 2rem;
    margin: auto;

}


header nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li i {
    font-size: 2rem;
    font-weight: 600;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

header nav ul li:hover {
    opacity: 0.5;
}

body main {
    padding: 20px 30px;
    background-color: #f5f6f7;
}

body main h1 {
    text-align: center;
    color: #1d3557;
    font-size: 3rem;
    font-weight: 600;
    padding: 5%;
}

body main section {
    display: flex;
    justify-content: space-evenly;
    max-width: 85%;
    margin: auto;
    border: 3px solid black;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    margin-bottom: 20px;
}

body main section img {
    max-width: 30%;
}

.produit-recommandé {
    display: flex;
    flex-direction: column;
}

.produit-recommandé article {
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

main section h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 200;
    padding-block: 5%;
}

main section div {
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #F1FAEE;
}