* {
    box-sizing: border-box;
}

:root {
    --font-color: #457B9D;
    --font-color2: #A8DADC;
    --title-color: #1d3557;
    --boutons-color: #E63946;
    --background-general: #f5f6f7;
    --background-section: #F1FAEE;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    padding-top: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}




header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
}

header section img.logo {
    height: 12rem;
    margin-top: 2rem;
    margin-right: 5rem;
}

header section a img.avatar {
    width: 7rem;
    height: 95%;
    border-radius: 50%;
    border: 3px, solid, black;
}

header section a img:hover {
    opacity: 0.5;
}


header section div a img.icone {
    width: 6rem;
    height: 6rem;
    display: block;
}

header section div a i.fleche {
    font-size: 2rem;
    margin-left: 2.1rem;
    color: black;
}

header section div a i.fleche:hover {
    opacity: 0.5;
}

header section form {
    margin-left: 4rem;
    margin-top: 2rem;
}

header section form input {
    width: 20rem;
    height: 1.3rem;
}



header section form a i.loupe {
    font-size: 1rem;
    color: black;
}

header section form a i.loupe:hover {
    opacity: 0.5;
}

header nav {
    box-shadow: 0px 16px 19px -4px #000000;
    background-color: white;
    padding-bottom: 1.3rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0;
    padding-right: 3.5rem;
    margin: auto;

}


header nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li i {
    font-size: 2rem;
    font-weight: 600;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

header nav ul li:hover {
    opacity: 0.5;
}

header nav ul li:hover {
    opacity: 0.5;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1d3557;
    color: #a8dadc;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

}

footer section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

i {
    color: #a8dadc
}

footer section div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

footer section img {
    vertical-align: -5px;
}


header nav ul li:hover {
    opacity: 0.5;
}

header nav ul li:hover {
    opacity: 0.5;
}

body main#home {
    padding: 20px 30px;
    background-color: var(--background-general);
}

body main#home h1 {
    text-align: center;
    color: #1d3557;
    font-size: 3rem;
    font-weight: 600;
    padding: 5%;
}

body main#home section {
    display: flex;
    justify-content: space-evenly;
    max-width: 85%;
    margin: auto;
    border: 3px solid var(--title-color);
    border-radius: 20px;
    margin-bottom: 20px;
}

.banner img {
    display: flex;
    max-width: 30%;
    height: auto;
    object-fit: contain;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    margin: 2rem 0;
    background-color: var(--boutons-color);
    font-size: 1rem;
    padding: 0.5rem;

    border-radius: 7px 7px 7px 7px;

    a {
        color: white;
        padding: 1rem;
        margin: 1rem;

    }
}

.card button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 0.2s;
}

.produit-recommandé {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--background-section);
}

.produit-recommandé article {
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.produit-recommandé article h3 {
    text-align: center;
}

.produit-recommandé article img {
    display: block;
    width: 100%;
}

main#home section h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 200;
    padding-block: 5%;
}

main#home section div {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    gap: 5%;
}

main#home section.offers {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

main#home section.offers article {
    display: flex;
    justify-content: center;

}

main#home section.offers img {
    width: 50%;

}

/* here we have css of file's products */

body main#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

body main#products h1 {
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #1d3557;
}

body main#products section {
    background-color: #F1FAEE;
    border: 3px solid var(--title-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;


}

body main#products section h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

body main#products section article {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #1d3557 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 1rem;
    padding: 2rem;
    text-align: center;

}

body main#products section article img {
    width: 100%;
}

body main#products section article p {}

/* end css of file's products */